.applied-filter {
    display: flex;
    align-items: center;
    gap: .5em;

    padding: .25em 1em .25em 1.25em;

    border-radius: .35em;


    &--ingredient {
        background-color: $blue;
    }

    &--applience {
        background-color: $green;
    }
    
    &--tool {
        background-color: $red;
    }

    &__text {
        font-family: "Lato-bold", sans-serif;
        font-weight: 700;
        color: white;
        font-size: .8em;
    }

    .remove-filter {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &__icon {
            width: 1.75em;
            height: 1.75em;
            border: .25em solid transparent;
            background-image: url("../../assets/icons/remove.svg");
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}