.recipe-card {
  /* Size */
  width: 31.5%;
  height: fit-content;

  /* Display */
  display: flex;
  flex-direction: column;

  /* Overflow */
  overflow: hidden;

  .recipe-card-thumbnail {
    /* Size */
    height: 12.5em;

    /* Border */
    border-radius: 0.35em 0.35em 0 0;

    /* Background */
    background-color: $grey;
  }

  .recipe-card-desc {
    /* Size */
    height: 15em;

    /* Border */
    border-radius: 0 0 0.35em 0.35em;

    /* Background */
    background-color: $lightgrey;

    /* Margin and padding */
    padding: 1.5em;

    .card-desc-header {
      /* Display */
      display: flex;
      justify-content: space-between;

      &__heading {
        /* Size */
        max-width: 90%;
      }

      .desc-header-cooking-time {
        /* Size */
        width: 9em;

        /* Display */
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 0.25em;

        &__icon {
          /* Size */
          width: 1.75em;
          height: 1.75em;

          /* Border */
          border: 0.25em solid transparent;

          /* Background */
          background-image: url('../../assets/icons/time.svg');
          background-size: cover;
          background-repeat: no-repeat;
        }

        &__text {
          /* Font */
          font-family: 'Lato-bold', sans-serif;
          font-weight: 700;
        }
      }
    }

    .card-desc-body {
      /* Display */
      display: flex;
      justify-content: space-between;

      /* Margin and padding */
      padding-top: 1em;

      .desc-body-ingredients {
        /* Size */
        max-width: 49%;

        .desc-body-ingredient {
          /* Font */
          font-size: 0.8em;
          font-family: 'Lato-bold', sans-serif;
          font-weight: 700;

          &__qty {
            /* Font */
            font-size: 0.8em;
          }
        }
      }

      &__instructions {
        /* Size */
        max-width: 49%;
        max-height: 12em;

        /* Font */
        font-size: 0.8em;

        /* Overflow */
        overflow: hidden;
      }
    }
  }
}
