/* All */
*,
*::after,
*::before {
    /* Margin and padding */
    margin: 0;
    padding: 0;

    /* Box sizing */
    box-sizing: inherit;

    font-size: 18px;
}

body {
    /* Box-sizing */
    box-sizing: border-box;

    /* Size */
    width: 85vw;
    min-height: 100vh;

    /* Display */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Margin and padding */
    margin: 0 auto;
}

ul {
    /* List style */
    list-style: none;
}

fieldset, input {
    border: transparent;
    border-radius: .25vw;
}