/* All */
*,
*::after,
*::before {
    /* Margin and padding */
    margin: 0;
    padding: 0;

    /* Box sizing */
    box-sizing: inherit;

    /* Fonts */
    font-family: "Lato-regular", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

body {
    /* Box-sizing */
    box-sizing: border-box;

    /* Size */
    width: 85vw;
    min-height: 100vh;

    /* Display */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Margin and padding */
    margin: 0 auto;
}

ul {
    /* List style */
    list-style: none;
}

button {
    /* Border */
    border: none;

    /* Background */
    background-color: transparent;
}

fieldset,
input {
    /* Border */
    border: transparent;
    border-radius: 0.35em;
}

input:focus {
    /* Border */
    outline: none;
}
